{% load i18n staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Drigan field control">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if flatpage %}{{ flatpage.title }}{% endif %}{% endblock %} | presentation</title>

    <link href="{% static "style-presentation.css" %}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  <script src="{% static "vendor/js/jquery-1.10.2.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "scripts.min.js" %}"></script>
</body>
</html>
