{% extends "base.html" %}
{% load i18n imagekit %}
{% load guardian_tags %}

{% block title %}
    {% blocktrans with name=object.name %}
        Delete attraction named "{{ name }}"
    {% endblocktrans %}
{% endblock %}
{% block content %}

<p>
{% blocktrans with name=object.name %}
    Do you really want to delete attraction named: "{{ name }}"?
{% endblocktrans %}
</p>

    <div class="btn-toolbar">

        <form style="display: inline;" action="{% url "events-attraction-details" attraction_id=object.pk %}">
            <button type='submit' class='drig-primary'>{% trans "Return to attraction edition" %}</button>
        </form>

        <form style="display: inline;" method='post'>
            {% csrf_token %}
            <button type='submit' class='drig-danger'>{% trans "Delete attraction" %}</button>
        </form>

    </div>
{% endblock %}
