{% extends "base.html" %}
{% load i18n imagekit %}
{% load guardian_tags %}

{% block title %}
    {{ attraction.name }}
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for attraction as "attraction_perms" %}
    <div class="event-details">
        <header class="panel-heading">
            <h1>
                <a href="{{ attraction.event.get_absolute_url }}" class="attraction-parent">{{ attraction.event.name }}</a>
                /
                <a href="{{ attraction.get_absolute_url }}">{{ attraction.name }}</a>
            </h1>
            <small>{{ attraction.category }}</small>
        </header>

        <div class="event-details-content">
            <div class="event-details-meta">
                {% if attraction.get_logo %}
                    {% thumbnail '100x100' attraction.get_logo -- class="thumbnail" %}
                {% endif %}
                {% if change_logo_form and "change_attraction" in attraction_perms %}
                    {% url "events-change-attraction-logo" attraction.id as action %}
                    {% include "events/partials/change_logo_form.html" %}
                {% endif %}
            </div>
            <div class="event-details-data">
                {% block attraction-data %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
