{% extends "events/attraction_base.html" %}
{% load i18n imagekit %}
{% load guardian_tags %}


{% block attraction-data %}
    {% get_obj_perms request.user for attraction as "attraction_perms" %}

    {% include "events/partials/time_interval.html" with start_date=attraction.start_date end_date=attraction.end_date %}

    <div>
        <strong>{% trans "Place" %}:</strong> {{ attraction.place }}
    </div>

    <div>
        {% if attraction.description  %}
            <p>
                {{ attraction.description|safe }}
            </p>
        {% endif %}
    </div>

    {% for form in attraction.forms %}
        {% if form.can_be_filled %}
            {%  if attraction.registered_only and not request.user.is_authenticated %}
                <a href="{% url "auth_login" %}?next={{ request.path }}"
                   class="btn-success btn">{% trans "Sign in to sign up for this attraction!" %}</a>
            {% else %}
                <a href="{% url "fill-form" attraction.id form.id %}"
                   class="btn-success btn">{% trans "Sign up for this attraction!" %}</a>
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="action-buttons btn-toolbar">
        {% for form_data in attraction_forms_data %}
            {% if form_data.can_see_participants_list %}
                <a class="drig-primary" href="{% url "participants-list" attraction.id form_data.form.id %}">{% trans "Participants list" %}</a>
            {% endif %}
            {% if form_data.can_edit %}
                <a class="drig-primary" href="{% url "dynamic_forms.views.edit_dynamic_form" form_data.form.id %}">{% trans "Edit form" %}</a>
            {% endif %}
        {% endfor %}
        {% if "change_attraction" in attraction_perms %}
            <a class="drig-primary" href="{% url "events.views.edit_attraction" attraction.event.id attraction.id %}">{% trans "Edit attraction" %}</a>
            {% if not attraction.forms %}
                <form method='post' action='{% url "dynamic_forms.views.add_dynamic_form" 'attraction' attraction.id %}'>
                    {% csrf_token %}
                    <button class="drig-primary" type='submit'>{% trans "Add registration form" %}</button>
                </form>
            {% endif %}
        {% endif %}
        {% if "delete_attraction" in attraction_perms %}
            <a class="drig-warning" href="{% url "events-delete-attraction" event_id=attraction.event.id pk=attraction.id %}">
                {% trans "Delete attraction" %}
            </a>
        {% endif %}
    </div>
{% endblock %}
