{% extends "base.html" %}
{% load i18n imagekit %}
{% load guardian_tags %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block content %}
{% get_obj_perms request.user for event as "event_perms" %}
    <div class="event-details">
        <header class="panel-heading">
            <h1>{{ event.name }}</h1>
            <small>{{ event.category }}</small>
        </header>

        <div class="event-details-content">
            <div class="event-details-meta">
                {% if event.get_logo %}
                    {% thumbnail '100x100' event.get_logo -- class="thumbnail" %}
                {% endif %}
                {% if "change_event" in event_perms %}
                    {% if change_logo_form %}
                        {% url "events-change-event-logo" event.id as action %}
                        {% include "events/partials/change_logo_form.html" %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="event-details-data">
                {% include "events/partials/time_interval.html" with start_date=event.start_date end_date=event.end_date %}
                {% if event.description %}
                    <p>
                        {{ event.description | safe }}
                    </p>
                {% endif %}
                <dl> 
                    <dt>{% trans "Attractions" %}: </dt>
                    <dd>
                        {% include "events/partials/attraction_list.html" with attractions=event.attractions.all %}
                        {% if "change_event" in event_perms %}
                            <div>
                                <a href="{% url "events.views.add_attraction" event.id %}" class="btn btn-success">{% trans "Add attraction" %}</a>
                            </div>
                        {% endif %}
                    </dd>
                    {% if event.website %}
                        <dt>{% trans "Website" %}:</dt>
                        <dd><a href="{{ event.website }}">{{ event.website }}</a></dd>
                    {% endif %}

                    <dt>{% trans "Organizer" %}:</dt>
                    <dd>{{ event.organizer.name }}</dd>

                    {% if event.get_other_editions %}
                        <dt>{% trans "Other editions of this event" %}:</dt>
                        <dd>
                            {% for edition in event.get_other_editions %}
                                <a href="{% url "events.views.event_details" edition.id %}">{{ edition }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </dd>
                    {% endif %}
                </dl>
                
                <div class="action-buttons">
                    {% if "change_event" in event_perms %}
                        <a class="drig-primary" href="{% url "events.views.edit_event" event.id %}">{% trans "Edit event" %}</a>
                        <a class="drig-primary" href="{% url "events-edit-admins" event.id %}">{% trans "Administrators" %}</a>
                        <a class="drig-warning" href="{% url "events-delete-event" pk=event.id %}">{% trans "Delete event" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
