{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Administrators list" %}{% endblock %}
{% block content %}

<h1>{% trans "Admins list:" %}</h1>
<table>
        {% for admin in admins %}
            {% if forloop.first %}
                <thead>
                <tr>
                    <th>{% trans "Lp" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Email address" %}</th>
                    {% if can_edit_admins %}
                        <th></th>
                    {% endif %}
                </tr>
                </thead>
            {% endif %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ admin.username }}</td>
                <td>{{ admin.email }}</td>
                {% if can_edit_admins %}
                <td>
                    {% if admin.id != event.created_by.id %}
                    <form method='post' action='{% url "events-delete-admins" event_id=event.id pk=admin.id %}'>
                        {% csrf_token %}
                        <button type='submit' class='delete-button'>{% trans "Delete" %}</button>
                    </form>
                    {% else %}
                        <form>
                        <button type='submit' class='delete-button' disabled>{% trans "Delete" %}</button>
                        </form>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
</table>

    {% if can_edit_admins %}
        <form method='post' name="new-admin-post-form" action='{% url "events-add-admins" event_id=event.id %}' class="only-one-submit">
            {% csrf_token %}

            {% trans 'Enter email of new admin:' %}
            <input type="text" name="new-admin-mail" class="input-sm">
            <button type='submit' class="drig-success">{% trans "Add" %}</button>
        </form>
    {% endif %}

{% endblock %}