{% extends "events/attraction_base.html" %}
{% load i18n %}

{% block attraction-data %}
    {% include "dynamic_forms/partials/list.html" %}
    {% if can_save_list %}
{#    <a href="{% url 'save-participants-list' attraction.id form.id %}" class="btn-primary btn">{% trans "Save as csv" %}</a>#}
<!-- Split button -->
<div class="btn-group">
  <a href="{% url 'save-participants-list' attraction.id form.id "csv" %}" type="button" class="btn btn-primary">{% trans "Save as csv" %}</a>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">{% trans "More downloads" %}</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="{% url 'save-participants-list' attraction.id form.id "excelcsv" %}">{% trans "Save as CSV (excel format)" %}</a></li>
    <li><a href="{% url 'save-participants-list' attraction.id form.id "xls" %}">{% trans "Save as XLSX" %}</a></li>
  </ul>
</div>
    {% endif %}
{% endblock %}
