{% extends "base.html" %}

{% block content %}
<h1>Upload new data</h1>
<form enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
        {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Upload" />
</form>
{% endblock %}
