{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>{{ competition.name }}</h2>
<h3>{% trans "Ranking" %}</h4>


{% for key, value in ranking %}
<h4>{{ key }}</h4>
<table>
    <thead>
        <tr>
        {% for h in header %}
            <th>{{ h }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for p in value %}
            <tr>
                <td>{{ p.rank }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.surname }}</td>
                <td>{{ p.identity }}</td>
                {% for r in p.runs %}
                    <td>{{ r.display_time }}</td>
                {% endfor %}
                <td>{{ p.result }}</td>
            </tr>
        {% endfor %}
    <tbody>
</table>
{% endfor %}


{% endblock %}
