{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>{{ competition.name }}</h2>
<h3>{% trans "Start list" %}</h4>

<table>
    <thead>
        <tr>
        {% for h in header %}
            <th>{{ h }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for p in ranking %}
            <tr>
                <td>{{ p.no }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.surname }}</td>
                <td>{{ p.identity }}</td>
                <td>{{ p.category }}</td>
            </tr>
        {% endfor %}
    <tbody>
</table>


{% endblock %}
