{% load i18n imagekit %}

<ul class="attraction-list">
    {% for attraction in attractions %}
        <li>
            <span class="event-category">{{ attraction.category }}</span>
            <a href="{% url "events.views.attraction_details" attraction.id %}" class="event-header">
                {% if attraction.get_logo %}
                    {% thumbnail '64x64' attraction.get_logo -- class="thumbnail" %}
                {% endif %}
                <h4>{{ attraction.name }}</h4>
            </a>
            {% include "events/partials/time_interval.html" with start_date=attraction.start_date end_date=attraction.end_date %}
            {% if attraction.description %}
                <p>{{ attraction.description|safe }}</p>
            {% endif %}
        </li>
    {% empty %}
        <li>{% trans "None :(" %}</li>
    {% endfor %}
</ul>
