.runs_timer_container { 
    min-height: 100%;
    min-height: 100vh;
     
    display: flex;
    align-items: center;
}

.runs_timer { 
    width: 100%;
    
    .text-center;
    h1 {
        margin: 0;
        font-size: 13em;
        font-weight: bold;
    }
    h2 { 
        font-size: 7em;
    }
    .identity {
        text-align: left;
        color: rgba(0,0,0,0.4);
        font-weight: bold;
        position: absolute;
        font-size: 3em;
    }
}
