{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Edit form" %}{% endblock %}
{% block content %}
<div>
    <table>
         <tr>
                <td></td>
                <td>{% trans "Field:" %}</td>
                <td>{% trans "Field type:" %}</td>
                <td colspan="2">{% trans "Order:" %}</td>
                <td></td>
        </tr> 
        {% for field in dynamic_form.fields.all %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ field.name }}</td>
                <td>{{ field.dynamic_field.get_type_description }}</td>
                <td>
                    <form method='post' action='{% url "dynamic_forms.views.change_field_order" field.id -1 %}'>
                        {% csrf_token %}
                        <button type='submit' class='btn btn-success'>{% trans "up" %}</button>
                    </form>
                </td>
                <td>
                    <form method='post' action='{% url "dynamic_forms.views.change_field_order" field.id 1 %}'>
                        {% csrf_token %}
                        <button type='submit' class='btn btn-success'>{% trans "down" %}</button>
                    </form>
                </td>
                <td>
                    <form method='post' action='{% url "dynamic_forms.views.delete_dynamic_form_field" field.id %}'>
                        {% csrf_token %}
                        <button type='submit' class='delete-button'>{% trans "Delete" %}</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td></td>
                <td colspan="5">{% trans "Your form hasn't got any fields yet." %}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div>
    <a class="dynform-btn-primary" href="{% url "dynamic_forms.views.add_dynamic_form_field" dynamic_form.id %}">{% trans "Add field" %}</a>
    <br/>
    {% if dynform_backref_label %}
        <a href="{{dynform_backref_url}}" class="dynform-btn-primary">
            {{ dynform_backref_label }}
        </a>
    {% endif %}
</div>

<div>
    <h2>{% trans "Settings" %}</h2>
    <form method="post" class="form-small" action="{% url "dynamic_forms.views.edit_dynamic_form" dynamic_form.id %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">{% trans "Save" %}</button>
    </form>
</div>

{% endblock %}
