{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Add field" %}{% endblock %}
{% block content %}
    <form method='post' class="form-small form-alone only-one-submit">
        {% csrf_token %}
        <h1>{% trans "Add field" %}:</h1>
        {{ form.as_p }}
        <button class="dynform-btn-primary" type='submit'>{% trans "Save this field" %}</button>
    </form>
    <br>
    <div>
        <a href="{% url "dynamic_forms.views.edit_dynamic_form"  dynamic_form_id=dynamic_form.pk %}"
           class="dynform-btn-primary">
            {% trans "Finish editing/reorder fields" %}
        </a>
        {% if dynform_backref_label %}
        <a href="{{dynform_backref_url}}" class="dynform-btn-primary">
            {{ dynform_backref_label }}
        </a>
        {% endif %}
    </div>
    <div class="form-small">
        <h1>{% trans "Your form:" %}</h1>
        {% if dynamic_form.fields.all %}
            <p>{{ dynamic_form_form }}</p>
        {% else %}
            <p>{% trans "Your form hasn't got any fields yet." %}</p>
        {% endif %}
    </div>
{% endblock %}
